<!-- Final Evolutions -->
<h3>Choose your favorite final evolution of starter Pok&#233mon from each generation</h3>

<!-- Gen 1 Final Evolutions -->
<div>Gen 1</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="venusaur">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/a/ae/003Venusaur.png/600px-003Venusaur.png" alt="venusaur">
          <div class="card-body">
            <h5 class="card-title">Venusaur</h5>
            <input class="form-check-input" type="radio" id="venusaur" name="gen1e" value="venusaur">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="charizard">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/7e/006Charizard.png/600px-006Charizard.png" alt="charizard">
          <div class="card-body">
            <h5 class="card-title">Charizard</h5>
            <input class="form-check-input" type="radio" id="charizard" name="gen1e" value="charizard">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="blastoise">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/0/02/009Blastoise.png/600px-009Blastoise.png" alt="blastoise">
          <div class="card-body">
            <h5 class="card-title">Blastoise</h5>
            <input class="form-check-input" type="radio" id="blastoise" name="gen1e" value="blastoise">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 2 Final Evolutions -->
<div>Gen 2</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="meganium">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/d/d1/154Meganium.png/600px-154Meganium.png" alt="meganium">
          <div class="card-body">
            <h5 class="card-title">Meganium</h5>
            <input class="form-check-input" type="radio" id="meganium" name="gen2e" value="meganium">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="typhlosion">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/4/47/157Typhlosion.png/600px-157Typhlosion.png" alt="typhlosion">
          <div class="card-body">
            <h5 class="card-title">Typhlosion</h5>
            <input class="form-check-input" type="radio" id="typhlosion" name="gen2e" value="typhlosion">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="feraligatr">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/d/d5/160Feraligatr.png/600px-160Feraligatr.png" alt="feraligatr">
          <div class="card-body">
            <h5 class="card-title">Feraligatr</h5>
            <input class="form-check-input" type="radio" id="feraligatr" name="gen2e" value="feraligatr">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 3 Final Evolutions -->
<div>Gen 3</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="sceptile">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/3/3e/254Sceptile.png/600px-254Sceptile.png" alt="sceptile">
          <div class="card-body">
            <h5 class="card-title">Sceptile</h5>
            <input class="form-check-input" type="radio" id="sceptile" name="gen3e" value="sceptile">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="blaziken">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/9/90/257Blaziken.png/600px-257Blaziken.png" alt="blaziken">
          <div class="card-body">
            <h5 class="card-title">Blaziken</h5>
            <input class="form-check-input" type="radio" id="blaziken" name="gen3e" value="blaziken">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="swampert">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/b/b6/260Swampert.png/600px-260Swampert.png" alt="swampert">
          <div class="card-body">
            <h5 class="card-title">swampert</h5>
            <input class="form-check-input" type="radio" id="swampert" name="gen3e" value="swampert">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 4 Final Evolutions -->
<div>Gen 4</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="torterra">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/d/df/389Torterra.png/600px-389Torterra.png" alt="torterra">
          <div class="card-body">
            <h5 class="card-title">Torterra</h5>
            <input class="form-check-input" type="radio" id="torterra" name="gen4e" value="torterra">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="infernape">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/f/fb/392Infernape.png/600px-392Infernape.png" alt="infernape">
          <div class="card-body">
            <h5 class="card-title">Infernape</h5>
            <input class="form-check-input" type="radio" id="infernape" name="gen4e" value="infernape">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="empoleon">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/7f/395Empoleon.png/600px-395Empoleon.png" alt="empoleon">
          <div class="card-body">
            <h5 class="card-title">Empoleon</h5>
            <input class="form-check-input" type="radio" id="empoleon" name="gen4e" value="empoleon">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 5 Final Evolutions -->
<div>Gen 5</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="serperior">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/b/b7/497Serperior.png/600px-497Serperior.png" alt="serperior">
          <div class="card-body">
            <h5 class="card-title">Serperior</h5>
            <input class="form-check-input" type="radio" id="serperior" name="gen5e" value="serperior">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="emboar">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/1/18/500Emboar.png/600px-500Emboar.png" alt="emboar">
          <div class="card-body">
            <h5 class="card-title">Emboar</h5>
            <input class="form-check-input" type="radio" id="emboar" name="gen5e" value="emboar">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="samurott">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/b/b5/503Samurott.png/600px-503Samurott.png" alt="samurott">
          <div class="card-body">
            <h5 class="card-title">Samurott</h5>
            <input class="form-check-input" type="radio" id="samurott" name="gen5e" value="samurott">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 6 Final Evolutions -->
<div>Gen 6</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="chesnaught">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/1/18/652Chesnaught.png" alt="chesnaught">
          <div class="card-body">
            <h5 class="card-title">Chesnaught</h5>
            <input class="form-check-input" type="radio" id="chesnaught" name="gen6e" value="chesnaught">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="delphox">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/2/21/655Delphox.png" alt="delphox">
          <div class="card-body">
            <h5 class="card-title">Delphox</h5>
            <input class="form-check-input" type="radio" id="delphox" name="gen6e" value="delphox">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="greninja">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/6/67/658Greninja.png/600px-658Greninja.png" alt="greninja">
          <div class="card-body">
            <h5 class="card-title">Greninja</h5>
            <input class="form-check-input" type="radio" id="greninja" name="gen6e" value="greninja">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 7 Final Evolutions -->
<div>Gen 7</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="decidueye">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/a/a4/724Decidueye.png/600px-724Decidueye.png" alt="decidueye">
          <div class="card-body">
            <h5 class="card-title">Decidueye</h5>
            <input class="form-check-input" type="radio" id="decidueye" name="gen7e" value="decidueye">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="incineroar">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/2/27/727Incineroar.png/600px-727Incineroar.png" alt="incineroar">
          <div class="card-body">
            <h5 class="card-title">Incineroar</h5>
            <input class="form-check-input" type="radio" id="incineroar" name="gen7e" value="incineroar">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="primarina">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/8/89/730Primarina.png/600px-730Primarina.png" alt="primarina">
          <div class="card-body">
            <h5 class="card-title">Primarina</h5>
            <input class="form-check-input" type="radio" id="primarina" name="gen7e" value="primarina">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>