<!-- List of games -->

<h3>Choose which Pok&#233mon games you've played</h3>
<div class="row">
  
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="redBlue" id="redBlue">
      <label class="form-check-label" for="redBlue">
        Red and Blue
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="goldSilver" id="goldSilver">
      <label class="form-check-label" for="goldSilver">
        Gold and Silver
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="rubySapphire" id="rubySapphire">
      <label class="form-check-label" for="rubySapphire">
        Ruby and Sapphire
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="diamondPearl" id="diamondPearl">
      <label class="form-check-label" for="diamondPearl">
        Diamond and Pearl
      </label>
    </div>
  </div>

  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="blackWhite" id="blackWhite">
      <label class="form-check-label" for="blackWhite">
        Black and White
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="blackWhite2" id="blackWhite2">
      <label class="form-check-label" for="blackWhite2">
        Black 2 and White 2
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="xY" id="xY">
      <label class="form-check-label" for="xY">
        X and Y
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="sunMoon" id="sunMoon">
      <label class="form-check-label" for="sunMoon">
        Sun and Moon
      </label>
    </div>
  </div>
</div>