<!-- Legendary Pokemon -->
<h3>Choose some of your favorite legendary Pok&#233mon</h3>

<!-- Legendary Birds -->
<div>Legendary Birds</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="articuno">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/4/4e/144Articuno.png/600px-144Articuno.png" alt="articuno">
          <div class="card-body">
            <h5 class="card-title">Articuno</h5>
            <input class="form-check-input" type="radio" id="articuno" name="legendaryBirds" value="articuno">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="zapdos">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/e/e3/145Zapdos.png/600px-145Zapdos.png" alt="zapdos">
          <div class="card-body">
            <h5 class="card-title">Zapdos</h5>
            <input class="form-check-input" type="radio" id="zapdos" name="legendaryBirds" value="zapdos">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="moltres">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/1/1b/146Moltres.png/600px-146Moltres.png" alt="moltres">
          <div class="card-body">
            <h5 class="card-title">Moltres</h5>
            <input class="form-check-input" type="radio" id="moltres" name="legendaryBirds" value="moltres">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Legendary Beasts -->
<div>Legendary Beasts</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="raikou">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/c/c1/243Raikou.png/600px-243Raikou.png" alt="raikou">
          <div class="card-body">
            <h5 class="card-title">Raikou</h5>
            <input class="form-check-input" type="radio" id="raikou" name="legendaryBeasts" value="raikou">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="entei">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/f/f9/244Entei.png/600px-244Entei.png" alt="entei">
          <div class="card-body">
            <h5 class="card-title">Entei</h5>
            <input class="form-check-input" type="radio" id="entei" name="legendaryBeasts" value="entei">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="suicune">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/d/da/245Suicune.png/600px-245Suicune.png" alt="suicune">
          <div class="card-body">
            <h5 class="card-title">Suicune</h5>
            <input class="form-check-input" type="radio" id="suicune" name="legendaryBeasts" value="suicune">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Legendary Titans -->
<div>Legendary Titans</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="regirock">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/a/aa/377Regirock.png/600px-377Regirock.png" alt="regirock">
          <div class="card-body">
            <h5 class="card-title">Regirock</h5>
            <input class="form-check-input" type="radio" id="regirock" name="legendaryTitans" value="regirock">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="regice">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/f/fe/378Regice.png/600px-378Regice.png" alt="regice">
          <div class="card-body">
            <h5 class="card-title">Regice</h5>
            <input class="form-check-input" type="radio" id="regice" name="legendaryTitans" value="regice">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="registeel">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/2/22/379Registeel.png/600px-379Registeel.png" alt="registeel">
          <div class="card-body">
            <h5 class="card-title">Registeel</h5>
            <input class="form-check-input" type="radio" id="registeel" name="legendaryTitans" value="registeel">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Weather Trio -->
<div>Weather Trio</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="kyogre">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/4/41/382Kyogre.png/600px-382Kyogre.png" alt="kyogre">
          <div class="card-body">
            <h5 class="card-title">Kyogre</h5>
            <input class="form-check-input" type="radio" id="kyogre" name="weatherTrio" value="kyogre">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="groudon">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/70/383Groudon.png/600px-383Groudon.png" alt="groudon">
          <div class="card-body">
            <h5 class="card-title">Groudon</h5>
            <input class="form-check-input" type="radio" id="groudon" name="weatherTrio" value="groudon">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="rayquaza">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/e/e4/384Rayquaza.png/600px-384Rayquaza.png" alt="rayquaza">
          <div class="card-body">
            <h5 class="card-title">Rayquaza</h5>
            <input class="form-check-input" type="radio" id="rayquaza" name="weatherTrio" value="rayquaza">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Creation Trio -->
<div>Creation Trio</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="dialga">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/8/8a/483Dialga.png" alt="dialga">
          <div class="card-body">
            <h5 class="card-title">Dialga</h5>
            <input class="form-check-input" type="radio" id="dialga" name="creationTrio" value="dialga">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="palkia">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/6/66/484Palkia.png" alt="palkia">
          <div class="card-body">
            <h5 class="card-title">Palkia</h5>
            <input class="form-check-input" type="radio" id="palkia" name="creationTrio" value="palkia">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="giratina">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/2/2b/487Giratina-Origin.png/600px-487Giratina-Origin.png" alt="giratina">
          <div class="card-body">
            <h5 class="card-title">Giratina</h5>
            <input class="form-check-input" type="radio" id="giratina" name="creationTrio" value="giratina">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Tao Trio -->
<div>Tao Trio</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="reshiram">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/8/8d/643Reshiram.png/600px-643Reshiram.png" alt="reshiram">
          <div class="card-body">
            <h5 class="card-title">Reshiram</h5>
            <input class="form-check-input" type="radio" id="reshiram" name="taoTrio" value="reshiram">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="kyurem">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/c/c3/646Kyurem.png/600px-646Kyurem.png" alt="kyurem">
          <div class="card-body">
            <h5 class="card-title">Kyurem</h5>
            <input class="form-check-input" type="radio" id="kyurem" name="taoTrio" value="kyurem">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="zekrom">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/8/81/644Zekrom.png/600px-644Zekrom.png" alt="zekrom">
          <div class="card-body">
            <h5 class="card-title">Zekrom</h5>
            <input class="form-check-input" type="radio" id="zekrom" name="taoTrio" value="zekrom">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Aura Trio -->
<div>Aura Trio</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="xerneas">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/1/13/716Xerneas.png/600px-716Xerneas.png" alt="xerneas">
          <div class="card-body">
            <h5 class="card-title">Xerneas</h5>
            <input class="form-check-input" type="radio" id="xerneas" name="auraTrio" value="xerneas">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="yveltal">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/5/54/717Yveltal.png/600px-717Yveltal.png" alt="yveltal">
          <div class="card-body">
            <h5 class="card-title">Yveltal</h5>
            <input class="form-check-input" type="radio" id="yveltal" name="auraTrio" value="yveltal">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="zygarde">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/3/3a/718Zygarde.png/600px-718Zygarde.png" alt="zygarde">
          <div class="card-body">
            <h5 class="card-title">Zygarde</h5>
            <input class="form-check-input" type="radio" id="zygarde" name="auraTrio" value="zygarde">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Light Trio -->
<div>Light Trio</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="solgaleo">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/5/57/791Solgaleo.png/600px-791Solgaleo.png" alt="solgaleo">
          <div class="card-body">
            <h5 class="card-title">Solgaleo</h5>
            <input class="form-check-input" type="radio" id="solgaleo" name="lightTrio" value="solgaleo">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="lunala">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/9/9d/792Lunala.png/600px-792Lunala.png" alt="lunala">
          <div class="card-body">
            <h5 class="card-title">Lunala</h5>
            <input class="form-check-input" type="radio" id="lunala" name="lightTrio" value="lunala">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="necrozma">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/4/44/800Necrozma.png/600px-800Necrozma.png" alt="necrozma">
          <div class="card-body">
            <h5 class="card-title">Necrozma</h5>
            <input class="form-check-input" type="radio" id="necrozma" name="lightTrio" value="necrozma">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
