<h3>Choose your favorite starter Pok&#233mon from each generation</h3>
  
<!-- Gen 1 Starters -->
<div>Gen 1</div>
<div class="row">
    <div class="col-sm">
      <div class="form-check form-check-inline">
        <label class="form-check-label mw-100" for="bulbasaur">
          <div class="card">
            <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/600px-001Bulbasaur.png" alt="bulbasaur">
            <div class="card-body">
              <h5 class="card-title">Bulbasaur</h5>
              <input class="form-check-input" type="radio" id="bulbasaur" name="gen1" value="bulbasaur">
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="charmander">
          <div class="card">
            <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/600px-004Charmander.png" alt="charmander">
            <div class="card-body">
              <h5 class="card-title">Charmander</h5>
              <input class="form-check-input" type="radio" id="charmander" name="gen1" value="charmander">
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="squirtle">
          <div class="card">
            <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/600px-007Squirtle.png" alt="squirtle">
            <div class="card-body">
              <h5 class="card-title">Squirtle</h5>
              <input class="form-check-input" type="radio" id="squirtle" name="gen1" value="squirtle">
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>

<!-- Gen 2 Starters -->
<div>Gen 2</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="chikorita">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/b/bf/152Chikorita.png/600px-152Chikorita.png" alt="chikorita">
          <div class="card-body">
            <h5 class="card-title">Chikorita</h5>
            <input class="form-check-input" type="radio" id="chikorita" name="gen2" value="chikorita">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="cyndaquil">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/9/9b/155Cyndaquil.png/600px-155Cyndaquil.png" alt="cyndaquil">
          <div class="card-body">
            <h5 class="card-title">Cyndaquil</h5>
            <input class="form-check-input" type="radio" id="cyndaquil" name="gen2" value="cyndaquil">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="totodile">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/d/df/158Totodile.png/600px-158Totodile.png" alt="totodile">
          <div class="card-body">
            <h5 class="card-title">Totodile</h5>
            <input class="form-check-input" type="radio" id="totodile" name="gen2" value="totodile">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 3 Starters -->
<div>Gen 3</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="treecko">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/2/2c/252Treecko.png/600px-252Treecko.png" alt="treecko">
          <div class="card-body">
            <h5 class="card-title">Treecko</h5>
            <input class="form-check-input" type="radio" id="treecko" name="gen3" value="treecko">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="torchic">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/9/91/255Torchic.png/600px-255Torchic.png" alt="torchic">
          <div class="card-body">
            <h5 class="card-title">Torchic</h5>
            <input class="form-check-input" type="radio" id="torchic" name="gen3" value="torchic">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="mudkip">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/6/60/258Mudkip.png/600px-258Mudkip.png" alt="mudkip">
          <div class="card-body">
            <h5 class="card-title">Mudkip</h5>
            <input class="form-check-input" type="radio" id="mudkip" name="gen3" value="mudkip">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 4 Starters -->
<div>Gen 4</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="turtwig">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/5/5c/387Turtwig.png/600px-387Turtwig.png" alt="turtwig">
          <div class="card-body">
            <h5 class="card-title">Turtwig</h5>
            <input class="form-check-input" type="radio" id="turtwig" name="gen4" value="turtwig">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="chimchar">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/76/390Chimchar.png/600px-390Chimchar.png" alt="chimchar">
          <div class="card-body">
            <h5 class="card-title">Chimchar</h5>
            <input class="form-check-input" type="radio" id="chimchar" name="gen4" value="chimchar">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="piplup">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/b/b1/393Piplup.png/600px-393Piplup.png" alt="piplup">
          <div class="card-body">
            <h5 class="card-title">Piplup</h5>
            <input class="form-check-input" type="radio" id="piplup" name="gen4" value="piplup">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 5 Starters -->
<div>Gen 5</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="snivy">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/75/495Snivy.png/600px-495Snivy.png" alt="snivy">
          <div class="card-body">
            <h5 class="card-title">Snivy</h5>
            <input class="form-check-input" type="radio" id="snivy" name="gen5" value="snivy">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="tepig">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/5/5b/498Tepig.png/600px-498Tepig.png" alt="tepig">
          <div class="card-body">
            <h5 class="card-title">Tepig</h5>
            <input class="form-check-input" type="radio" id="tepig" name="gen5" value="tepig">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="oshawott">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/3/3b/501Oshawott.png/600px-501Oshawott.png" alt="oshawott">
          <div class="card-body">
            <h5 class="card-title">Oshawott</h5>
            <input class="form-check-input" type="radio" id="oshawott" name="gen5" value="oshawott">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 6 Starters -->
<div>Gen 6</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="chespin">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/c/ca/650Chespin.png/600px-650Chespin.png" alt="chespin">
          <div class="card-body">
            <h5 class="card-title">Chespin</h5>
            <input class="form-check-input" type="radio" id="chespin" name="gen6" value="chespin">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="fennekin">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/3/3d/653Fennekin.png/600px-653Fennekin.png" alt="fennekin">
          <div class="card-body">
            <h5 class="card-title">Fennekin</h5>
            <input class="form-check-input" type="radio" id="fennekin" name="gen6" value="fennekin">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="froakie">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/1/18/656Froakie.png/600px-656Froakie.png" alt="froakie">
          <div class="card-body">
            <h5 class="card-title">Froakie</h5>
            <input class="form-check-input" type="radio" id="froakie" name="gen6" value="froakie">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<!-- Gen 7 Starters -->
<div>Gen 7</div>
<div class="row">
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label mw-100" for="rowlet">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/7/74/722Rowlet.png/600px-722Rowlet.png" alt="rowlet">
          <div class="card-body">
            <h5 class="card-title">Rowlet</h5>
            <input class="form-check-input" type="radio" id="rowlet" name="gen7" value="rowlet">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="litten">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/0/0e/725Litten.png/600px-725Litten.png" alt="litten">
          <div class="card-body">
            <h5 class="card-title">Litten</h5>
            <input class="form-check-input" type="radio" id="litten" name="gen7" value="litten">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="popplio">
        <div class="card">
          <img class="card-img-top" src="https://cdn.bulbagarden.net/upload/thumb/d/d8/728Popplio.png/600px-728Popplio.png" alt="popplio">
          <div class="card-body">
            <h5 class="card-title">Popplio</h5>
            <input class="form-check-input" type="radio" id="popplio" name="gen7" value="popplio">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>