<%- include('./partials/header') %>

<div class="jumbotron jumbotron-fluid banner">
  <div class="container">
    <h1>Thank you for visiting the <em>Pok&#233-Survey</em> website!</h1> 
  </div>
</div> 

<div class="container infoContainer">
  <div class="row">
    <!-- Creator Info -->
    <div class="col-md-6 info">
      <h4>This website was made by <em>David Nelson</em>.</h4>
      <p>This is the first website he has made by himself.<br>
        All images are from <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page" target="_blank">bulbapedia.bulbagarden.net</a>.<br>
        David is available for remote work!</p>
    </div>
    <!-- Icon Links to contact Creator -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-6">
          <h5 class="contactHeaders">Source Code</h5>
          <div class="d-flex justify-content-center">
            <a href="https://github.com/Dnel9281/poke-survey" class="logo" target="_blank">
              <i class="fab fa-github-square fa-3x"></i>
            </a>
          </div>
        </div>
        <div class="col-6">
          <h5 class="contactHeaders">Contact</h5>
          <div class="d-flex justify-content-center">
            <a href="mailto:pokesurveywebsite@gmail.com" class="logo">
              <i class="fas fa-envelope fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>