<%- include('./partials/header') %>

<!-- Banner -->
<div class='jumbotron jumbotron-fluid banner'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='d-flex align-items-center welcome'>
          <h1 class='welcomeText'>Welcome to <em>Pok&#233-Survey!</em></h1>
        </div>
      </div>
      <div class='col-md-6'>
        <h5 class='welcomeText'>Vote for ...</h5>
        <img class='img-fluid' src='images/pokemonlogo.png' alt='Pokemon Logo'>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class='container landingInfoContainer'>
  <div class='row'>
    <div class='col-md-6'>
      <ul>
        <li>
          <h5>You can vote for some of your favorite Pok&#233mon!</h5>
        </li>
        <li>
          <h5>Your votes will be saved and you can change or delete your votes at any time!</h5>          
        </li>
        <li>
          <h5>Use different browsers and devices to vote multiple times!</h5>          
        </li>
      </ul>
    </div>
    <!-- Button -->
    <div class='col-md-6'>
      <a href='/survey'><button class='btn btn-success btn-lg btn-block'>Vote Now!</button></a>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>